sandbox
src/mqrestt
*/Makefile.in
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache/
/config.h
/configure
/m4/
/stamp-h?
.deps/
.dirstamp
depcomp
missing
install-sh
*.o
*~
compile
config.log
config.h.in
config.status
src/Makefile
*.pdf
*.1
*.tar.gz
*.exe
*.xml
*.log
*.before
config.guess
config.sub
debian/.debhelper/
debian/autoreconf.after
debian/files
debian/mqrestt-dbg.substvars
debian/mqrestt-dbg/
debian/mqrestt.substvars
debian/mqrestt/
debian/tmp/
compile_commands.json
