Source: mqrestt
Section: devel
Priority: optional
Maintainer: Zoltan Gyarmati <zgyarmati@zgyarmati.de>
Build-Depends: debhelper (>= 5), dh-systemd, libmosquitto-dev,
               libcurl-dev, asciidoc, dblatex, dh-autoreconf, libconfuse-dev
Standards-Version: 3.9.1

Package: mqrestt
Priority: optional
Section: misc
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends}, ${dist:Depends}
Description: mqrestt 'MQTT-REST bridge daemon'

Package: mqrestt-dbg
Priority: optional
Section: misc
Depends: mqrestt (= ${source:Version})
Architecture: any
Description: Debug symbols for mqrestt.
